html, body {
    height: 100%;
}

.ui.grid {
    height: 100%;    
}

.ui.form.segment {
	border: none;
	min-height: 92%;
}

.heightleft{
    height:800px;
}
.heightright{
    height:800px;
}

.ui.items>.item>.image+.content {
	padding-left:0.3em;
}
